<link rel="stylesheet" href="./css/main_window.css">
<link rel="stylesheet" href="./css/ui_window.css">
<link id="scene_css" rel="stylesheet" Eload="scene_css_onload()">
<div id="scene_display" class="border_3 main_window">
  <div id="scene" scene-id>
    <img id="scene_img"/>
    <div id="role_seat_list"></div>
  </div>
  <div id="location"></div>
  <div id="team_windows"></div>
  <div id="basic_btns">
    <button class="button white">資訊</button>
    <button class="button white">事件</button>
    <button class="button white">背包</button>
    <button class="button white">技能</button>
    <button class="button white">場景</button>
    <button class="button white">隊伍</button>
  </div>
  <div id="pop_window" class="ui_window_mask hidden"></div>
</div>